# CONFIG_6LOWPAN is not set
# CONFIG_ACPI_DEBUG is not set
# CONFIG_AGP is not set
# CONFIG_ATALK is not set
# CONFIG_ATA_BMDMA is not set
# CONFIG_ATA_FORCE is not set
# CONFIG_ATA_GENERIC is not set
# CONFIG_ATA_OVER_ETH is not set
# CONFIG_ATA_PIIX is not set
# CONFIG_ATA_SFF is not set
# CONFIG_ATA_VERBOSE_ERROR is not set
# CONFIG_ATM is not set
# CONFIG_BATMAN_ADV is not set
# CONFIG_BLK_DEV_FD is not set
# CONFIG_CAN is not set
# CONFIG_CHROME_PLATFORMS is not set
# CONFIG_DAMON is not set
# CONFIG_DEBUG_BOOT_PARAMS is not set
# CONFIG_DEBUG_INFO_DWARF4 is not set
# CONFIG_DEBUG_INFO_DWARF5 is not set
# CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT is not set
# CONFIG_DEBUG_LIST is not set
# CONFIG_DEBUG_MEMORY_INIT is not set
# CONFIG_DEBUG_SHIRQ is not set
# CONFIG_DEBUG_WX is not set
# CONFIG_DM_DEBUG is not set
# CONFIG_EVM is not set
# CONFIG_FIREWIRE is not set
# CONFIG_FIREWIRE_NOSY is not set
# CONFIG_FTRACE is not set
# CONFIG_FW_LOADER_DEBUG is not set
# CONFIG_GAMEPORT is not set
# CONFIG_GAMEPORT_EMU10K1 is not set
# CONFIG_GAMEPORT_FM801 is not set
# CONFIG_HAMRADIO is not set
# CONFIG_HYPERVISOR_GUEST is not set
# CONFIG_IEEE802154 is not set
# CONFIG_IMA is not set
# CONFIG_INFINIBAND is not set
# CONFIG_KALLSYMS_ALL is not set
# CONFIG_KEXEC is not set
# CONFIG_KEXEC_FILE is not set
# CONFIG_KEXEC_HANDOVER is not set
# CONFIG_KFENCE is not set
# CONFIG_KGDB is not set
# CONFIG_KUNIT is not set
# CONFIG_LATENCYTOP is not set
# CONFIG_MACINTOSH_DRIVERS is not set
# CONFIG_MEMSTICK is not set
# CONFIG_MTD is not set
# CONFIG_NUMA is not set
# CONFIG_PAGE_EXTENSION is not set
# CONFIG_PAGE_OWNER is not set
# CONFIG_PAGE_POISONING is not set
# CONFIG_PARPORT is not set
# CONFIG_PCCARD is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_PROFILING is not set
# CONFIG_PSI is not set
# CONFIG_RCU_TRACE is not set
# CONFIG_RUNTIME_TESTING_MENU is not set
# CONFIG_SCHEDSTATS is not set
# CONFIG_SECURITY_APPARMOR is not set
# CONFIG_SECURITY_IPE is not set
# CONFIG_SECURITY_SELINUX is not set
# CONFIG_SECURITY_TOMOYO is not set
# CONFIG_SEV_GUEST is not set
# CONFIG_SLIP is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_SURFACE_PLATFORMS is not set
# CONFIG_TEST_LOCKUP is not set
# CONFIG_UBSAN is not set
# CONFIG_USB_EHCI_HCD is not set
# CONFIG_USB_OHCI_HCD is not set
# CONFIG_USB_UHCI_HCD is not set

CONFIG_CIFS=m
CONFIG_EFI_PARTITION=y
CONFIG_EXFAT_FS=m
CONFIG_ISO9660_FS=m
CONFIG_JOLIET=y
CONFIG_KERNEL_ZSTD=y
CONFIG_LSM="landlock,yama,bpf"
CONFIG_MODULE_COMPRESS_ZSTD=y
CONFIG_MSDOS_PARTITION=y
CONFIG_NO_HZ_IDLE=y
CONFIG_SATA_AHCI=y
CONFIG_UDF_FS=m
CONFIG_USB_VIDEO_CLASS=m
CONFIG_VFAT_FS=m
